<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="${date:format=HH\:mm\:ss}|${pad:padding=5:inner=${level:uppercase=true}}|${logger:shortName=true}|${message}" />
    <target xsi:type="Trace" name="trace" layout="${date:format=HH\:mm\:ss}|${pad:padding=5:inner=${level:uppercase=true}}|${logger:shortName=true}|${message}" />
    <target xsi:type="File" name="file" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message}" fileName="${basedir}/logs/${shortdate}.txt" encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" writeTo="trace" />
    <logger name="*" writeTo="file" />
  </rules>
</nlog>